.cards__form{
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  align-items: center;
}

.cards__form-open{
  position: absolute;
  opacity: 1;
  pointer-events: visible;
}

.cards__form-close:hover {
  transition: 0.2s;
  cursor: pointer;
  opacity: 60%;
}

.cards__form-close {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -370px;
  margin-left: 253px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 40px;
  z-index: 1;
}

.cards__form-box {
  width: 282px;
  height: 322px;
  margin-top: -320px;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 10px;
  z-index: 1;
}

.cards__form-title {
  width: 238px;
  height: 22px;
  margin: 25px auto 50px;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.78px;
  text-align: left;
}

.cards__form-name:valid{
  border-bottom: 1px solid green;
}


.cards__form-name:invalid{
  border-bottom: 1px solid red;
}
.cards__form-name {
  width: 230px;
  height: 26px;
  margin: 0px 22px 5px;
  border: none;
}

.cards__form-job:valid{
  border-bottom: 1px solid green;
}


.cards__form-link:invalid{
  border-bottom: 1px solid red;
}

.cards__form-link {
  width: 230px;
  height: 26px;
  margin: 0px 22px 5px;
  border: none;
}

.card-submit-disabled:disabled:disabled {
  background-color: #ccc;
}

.cards__form-submit:hover {
  transition: 0.2s;
  cursor: pointer;
  opacity: 60%;

}
.cards__form-submit {
  width: 238px;
  height: 46px;
  margin: 30px 22px 36px;
  border-radius: 2px;
  background-color: #000000;
  color: #fff;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  cursor: pointer;
}

.cards__form-error {
  display: flex;
  width: 238px;
  height: 26px;
  margin: 5px 22px 0px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14.52px;
  color: red;
  align-items: center;
}


@media screen and (max-width: 879px) and (min-width: 600px){
  .cards__form{
    justify-self: center;
    margin: -805px 0px 0px 0px;
  }

  .cards__form-close {
    margin-left: 440px;
    margin-top: -375px;
  }

  .cards__form-box {
    width: 430px;
    height: 330px;
  }

  .cards__form-title {
    width: 330px;
    margin: 34px 64px 30px 36px;
    font-size: 24px;

  }

  .cards__form-name {
    width: 338px;
    margin: 0px 36px 0px 36px;
  }

  .cards__form-link {
    width: 338px;
    margin: 0px 36px 0px 36px;
  }

  .cards__form-submit {
    width: 358px;
    height: 50.15px;
    margin: 30px 36px 37px;
    font-size: 18px;
  }

  .cards__form-error {
    display: flex;
    width: 338px;
    height: 26px;
    margin: 5px 36px 0px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1660px) and (min-width: 880px){
  .cards__form{
    justify-self: center;
    margin: -405px 0px 0px 0px;
  }

  .cards__form-close {
    margin-left: 440px;
    margin-top: -375px;
  }

  .cards__form-box {
    width: 430px;
    height: 330px;
  }

  .cards__form-title {
    width: 330px;
    margin: 34px 64px 30px 36px;
    font-size: 24px;

  }

  .cards__form-name {
    width: 338px;
    margin: 0px 36px 0px 36px;
  }

  .cards__form-link {
    width: 338px;
    margin: 0px 36px 0px 36px;
  }

  .cards__form-submit {
    width: 358px;
    height: 50.15px;
    margin: 30px 36px 37px;
    font-size: 18px;
  }
  .cards__form-error {
    display: flex;
    width: 338px;
    height: 26px;
    margin: 5px 36px 0px;
    font-size: 12px;
  }

}

