.footer {
  width: 232px;
  margin: 50px auto 36px;
}

.footer__title {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #545454;
}

@media screen and (max-width: 1660px) and (min-width: 880px) {
  .footer {
    width: 880px;
    margin: 50px 200px 36px;
  }
}

@media screen and (max-width: 879px) and (min-width: 600px) {
  .footer {
    width: 880px;
  }

  .footer__title{
    margin-left: 150px;
  }
}