body {
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  border-bottom: 1px solid #545454;
  margin-top: 28px;
}

.header__title {
  width: 126px;
  height: 24px;
  margin: 0px 0px 41px 24px ;
}

@media screen and (max-width: 880px) {
  .header {
    justify-content: flex-start; /* Align to start for small screens */
  }
}

@media screen and (min-width:880px) and (max-width: 1430px) {
  .header {
  width: 880px;
  margin: 28px auto 41px;
  }

  .header__title{
    width: 173px;
    height: 33px;
  }
}