.header {
  display: flex;
  width: 880px;
  height: 74px;
  padding-top: 45px;
  margin: 0px auto 40px;
  border-bottom: 1px solid #545454;
}

.header__img {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 540px) {
  .header {
    width: 100%;
    height: 56px;
    margin-bottom: 5px;
  }

  .header__img{
    margin-left: 27px;
  }
}