body {
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  border-bottom: 1px solid #545454;
  margin-top: 28px;
}

.header__title {
  width: 126px;
  height: 24px;
  margin: 0 0px 41px 24px ;
}

@media screen and (max-width: 880px) {
  .header {
    justify-content: flex-start;
  }
}
