.profile__form{
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  margin: 0px 220px 0px;
}

.profile__form-open{
  position: absolute;
  opacity: 1;
  pointer-events: visible;
}

.profile__form-close:hover {
  transition: 0.2s;
  cursor: pointer;
  opacity: 60%;
}

.profile__form-close {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: -40px;
  margin-left: 420px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 40px;
  z-index: 1;
}

.profile__form-box {
  width: 430px;
  height: 350px;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 10px;
  z-index: 1;
}

.profile__form-title {
  margin: 34px 64px 40px 36px;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;

}

.profile__form-name:valid{
  border-bottom: 1px solid green;
}


.profile__form-name:invalid{
  border-bottom: 1px solid red;
}
.profile__form-name {
  width: 358px;
  height: 27.26px;
  margin: 0px 36px 20px;
  border: 0;

}

.profile__form-job:valid{
  border-bottom: 1px solid green;
}


.profile__form-job:invalid{
  border-bottom: 1px solid red;
}

.profile__form-job {
  width: 358px;
  height: 27.26px;
  margin: 0px 36px 0px;
  border: none;
}

#profile-submit-disabled:disabled {
  background-color: #ccc;
}

.profile__form-submit:hover {
  transition: 0.2s;
  cursor: pointer;
  opacity: 60%;

}
.profile__form-submit {
  width: 358px;
  height: 50.15px;
  margin: 30px 36px 37px;
  border-radius: 2px;
  background-color: #000000;
  color: #fff;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  cursor: pointer;
}

.profile__form-error {
  margin: 0px 36px 0px;
  display: flex;
  color: red;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  width: 358px;
}

@media  screen and (min-width:600px) and (max-width:900px) {
  .profile__form{
    margin: 0px 100px 0px;
    align-items: center;
  }
}

@media  screen and (min-width: 300px) and (max-width:599px) {
  .profile__form{
    align-items: center;
    justify-content: center;
    margin: 150px auto;
  }

.profile__form-close{
  margin-top: -345px;
  margin-left: 250px;
  justify-content: center;
}

.profile__form-box{
  width: 282px;
  margin-top: 50px;
}

.profile__form-title{
  font-size: 18px;
  font-weight: 900;
  line-height: 21.78px;
  text-align: left;
  margin-left: 24px;
}

.profile__form-name{
  width: 238px;
  height: 26px;
  margin: 0px 24px 0px;
}

.profile__form-job{
  width: 238px;
  height: 26px;
  margin: 0px 24px 0px;
}

.profile__form-submit{
  width: 238px;
  height: 36px;
  margin: 30px 24px 37px;
}

.profile__form-error{
  width: 238px;
  height: 26px;
  font-size: 9px;
  margin: 0px 24px 0px;
}
}