.profile {
  display: flex;
  flex-direction: column;
  width: 282px;
  margin: 0px auto 36px;
}

.profile__img {
  width: 120px;
  height: 120px;
  align-self: center;
  margin-top: 42px;
}

.profile__info {
  width: 282px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 30px 19px 36px 19px;
}

.profile__name {
  width: 196px;
  height: 22px;
  margin: 0px 5px 0px 30px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.63px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__job {
  width: 282px;
  height: 14px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 14px;
  text-align: center;
  line-height: 16.94px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__btn-info:hover{
  transition: 0.2s;
  cursor: pointer;
  opacity: 60%;
}

.profile__btn-info {
  width: 18px;
  height: 18px;
  background-color: black;
  border: 1px solid white;
  background-image: url(../images/Vectorlapis.png);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__btn-card:hover{
  transition: 0.2s;
  cursor: pointer;
  opacity: 60%;
}

.profile__btn-card {
  width: 282px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-size: 22px;
}

@media screen and (max-width: 599px) and (min-width: 321px){
  .profile{
    width: 550px;
  }

  .profile__btn-card{
    margin: 0px auto 0px;
  }

}

@media screen and (max-width: 879px) and (min-width: 600px){
  .profile{
    width: 880px;
    flex-direction: row;
  }

  .profile__img{
    width: 169px;
    height: 160px;
  }

  .profile__info {
    width: 415px;
    height: 77px;
    display: flex;
    margin: 40px 0px 0px 30px;
  }

  .profile__name {
    width: 325px;
    height: 55px;
    margin: 0px 18px 0px 0px;
    text-align: left;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__job {
    width: 415px;
    height: 22px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__btn-info:hover
  {
    transition: 0.2s;
    cursor: pointer;
    opacity: 60%;
  }

  .profile__btn-info {
    width: 24px;
    height: 24px;
    margin: 15px 0px 0px 0px;
  }

  .profile__btn-card:hover{
    transition: 0.2s;
    cursor: pointer;
    opacity: 60%;
  }

  .profile__btn-card {
    width: 150px;
    height: 50px;
    margin: 90px 0px 0px 130px;
  }
  }

@media screen and (max-width: 1660px) and (min-width: 880px){
.profile{
  width: 880px;
  flex-direction: row;
}

.profile__img{
  width: 169px;
  height: 160px;
}

.profile__info {
  width: 415px;
  height: 77px;
  display: flex;
  margin: 40px 0px 0px 30px;
}

.profile__name {
  width: 325px;
  height: 55px;
  margin: 0px 18px 0px 0px;
  text-align: left;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__job {
  width: 415px;
  height: 22px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__btn-info:hover
{
  transition: 0.2s;
  cursor: pointer;
  opacity: 60%;
}

.profile__btn-info {
  width: 24px;
  height: 24px;
  margin: 15px 0px 0px 0px;
}

.profile__btn-card:hover{
  transition: 0.2s;
  cursor: pointer;
  opacity: 60%;
}

.profile__btn-card {
  width: 150px;
  height: 50px;
  margin: 90px 0px 0px 130px;
}
}

